# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [3]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [4]:
load_csv = "output_data/cities.csv"
city_df = pd.read_csv(load_csv)
city_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,saldanha,-33.01,17.94,66.20,88,0,10.29,ZA,1583374900
1,1,dikson,73.51,80.55,-11.13,94,100,19.22,RU,1583374901
2,2,busselton,-33.65,115.33,73.99,38,100,5.59,AU,1583374901
3,3,kapaa,22.08,-159.32,80.60,74,40,10.29,US,1583374901
4,4,hilo,19.73,-155.09,77.00,69,90,10.29,US,1583374901

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [5]:
# Configure gmaps with API key.
gmaps.configure(api_key=g_key)

# Humidity 
locations = city_df[["Lat", "Lng"]]
humidity = city_df['Humidity'].astype(int)


# Plot Heatmap
fig = gmaps.figure()

# Create Heatmap layer
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, 
                                 dissipating=False, max_intensity=10,
                                 point_radius=1)
# Add Heatmap layer
fig.add_layer(heat_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
# Create new DataFrame fitting weather criteria
# max temperature lower than 80 degrees but higher than 70.
# Wind speed less than 10 mph.
# Zero cloudiness.

narrowed_city_df = city_df.copy()
narrowed_city_df = narrowed_city_df[narrowed_city_df['Max Temp'] >= 70]
narrowed_city_df = narrowed_city_df[narrowed_city_df['Max Temp'] <= 80]  
narrowed_city_df = narrowed_city_df[narrowed_city_df['Wind Speed'] <= 10]
narrowed_city_df = narrowed_city_df[narrowed_city_df['Cloudiness'] == 0]
narrowed_city_df = narrowed_city_df.dropna()
narrowed_city_df = narrowed_city_df.reset_index()
narrowed_city_df

,index,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,20,20,esmeraldas,-19.76,-44.31,71.60,88,0,1.81,BR,1583374902
1,26,26,lashio,22.93,97.75,77.41,35,0,2.06,MM,1583374903
2,90,90,port alfred,-33.59,26.89,71.01,81,0,7.00,ZA,1583374909
3,132,132,salalah,17.02,54.09,75.20,17,0,5.82,OM,1583374912
4,195,195,podor,16.65,-14.96,75.58,5,0,9.15,MR,1583374918
5,202,202,east london,-33.02,27.91,75.97,71,0,9.60,ZA,1583374918
6,227,227,general pico,-35.66,-63.76,73.74,27,0,9.40,AR,1583374816
7,257,257,eyl,7.98,49.82,77.16,64,0,8.88,SO,1583374923
8,258,258,bafoulabe,13.81,-10.83,75.34,7,0,3.91,ML,1583374924
9,296,296,gunjur,13.20,-16.73,75.20,60,0,4.83,GM,1583374927
10,316,316,nueve de julio,-35.44,-60.88,77.00,55,0,6.64,AR,1583374928
11,323,323,bandarbeyla,9.49,50.81,77.38,64,0,7.00,SO,1583374929
12,348,348,buin,-33.73,-70.75,75.20,41,0,6.93,CL,1583374931
13,352,352,venado tuerto,-33.75,-61.97,71.01,72,0,6.26,AR,1583374931
14,403,403,filingue,14.35,3.32,74.44,9,0,8.25,NE,1583374936
15,444,444,jose bonifacio,-21.05,-49.69,77.00,61,0,3.36,BR,1583374939
16,448,448,feira de santana,-12.27,-38.97,74.57,87,0,3.65,BR,1583374940

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [7]:
# create hotel_df with hotel name column
hotel_df = narrowed_city_df
hotel_df["Hotel Name"] = np.nan
hotel_df = hotel_df.drop(columns='index')
hotel_df

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Hotel Name
0,20,esmeraldas,-19.76,-44.31,71.60,88,0,1.81,BR,1583374902,NaN
1,26,lashio,22.93,97.75,77.41,35,0,2.06,MM,1583374903,NaN
2,90,port alfred,-33.59,26.89,71.01,81,0,7.00,ZA,1583374909,NaN
3,132,salalah,17.02,54.09,75.20,17,0,5.82,OM,1583374912,NaN
4,195,podor,16.65,-14.96,75.58,5,0,9.15,MR,1583374918,NaN
5,202,east london,-33.02,27.91,75.97,71,0,9.60,ZA,1583374918,NaN
6,227,general pico,-35.66,-63.76,73.74,27,0,9.40,AR,1583374816,NaN
7,257,eyl,7.98,49.82,77.16,64,0,8.88,SO,1583374923,NaN
8,258,bafoulabe,13.81,-10.83,75.34,7,0,3.91,ML,1583374924,NaN
9,296,gunjur,13.20,-16.73,75.20,60,0,4.83,GM,1583374927,NaN
10,316,nueve de julio,-35.44,-60.88,77.00,55,0,6.64,AR,1583374928,NaN
11,323,bandarbeyla,9.49,50.81,77.38,64,0,7.00,SO,1583374929,NaN
12,348,buin,-33.73,-70.75,75.20,41,0,6.93,CL,1583374931,NaN
13,352,venado tuerto,-33.75,-61.97,71.01,72,0,6.26,AR,1583374931,NaN
14,403,filingue,14.35,3.32,74.44,9,0,8.25,NE,1583374936,NaN
15,444,jose bonifacio,-21.05,-49.69,77.00,61,0,3.36,BR,1583374939,NaN
16,448,feira de santana,-12.27,-38.97,74.57,87,0,3.65,BR,1583374940,NaN

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [8]:
# list for hotel names
hotels = []

# checker variable
x = 0

# for loop to search through city coordinates
for cities in hotel_df['City']:
    target_coordinates = str(hotel_df['Lat'][x])+' , '+str(hotel_df['Lng'][x])
    x+=1
    target_radius = 5000
    target_type = 'lodging'
    params = {
    "location": target_coordinates,
    "radius": target_radius,
    "type": target_type,
    "key": g_key
    }
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
# try/except to check if a city turns up    
    try:
        response = requests.get(base_url, params=params)
        hotel_results = response.json()
        hotels.append(hotel_results['results'][0]['name'])
        
    except IndexError:
        hotels.append(np.nan)

#append dataframe with hotel names
hotel_df['Hotel Name'] = hotels
hotel_df

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Hotel Name
0,20,esmeraldas,-19.76,-44.31,71.60,88,0,1.81,BR,1583374902,NaN
1,26,lashio,22.93,97.75,77.41,35,0,2.06,MM,1583374903,NaN
2,90,port alfred,-33.59,26.89,71.01,81,0,7.00,ZA,1583374909,NaN
3,132,salalah,17.02,54.09,75.20,17,0,5.82,OM,1583374912,NaN
4,195,podor,16.65,-14.96,75.58,5,0,9.15,MR,1583374918,NaN
5,202,east london,-33.02,27.91,75.97,71,0,9.60,ZA,1583374918,NaN
6,227,general pico,-35.66,-63.76,73.74,27,0,9.40,AR,1583374816,NaN
7,257,eyl,7.98,49.82,77.16,64,0,8.88,SO,1583374923,NaN
8,258,bafoulabe,13.81,-10.83,75.34,7,0,3.91,ML,1583374924,NaN
9,296,gunjur,13.20,-16.73,75.20,60,0,4.83,GM,1583374927,NaN
10,316,nueve de julio,-35.44,-60.88,77.00,55,0,6.64,AR,1583374928,NaN
11,323,bandarbeyla,9.49,50.81,77.38,64,0,7.00,SO,1583374929,NaN
12,348,buin,-33.73,-70.75,75.20,41,0,6.93,CL,1583374931,NaN
13,352,venado tuerto,-33.75,-61.97,71.01,72,0,6.26,AR,1583374931,NaN
14,403,filingue,14.35,3.32,74.44,9,0,8.25,NE,1583374936,NaN
15,444,jose bonifacio,-21.05,-49.69,77.00,61,0,3.36,BR,1583374939,NaN
16,448,feira de santana,-12.27,-38.97,74.57,87,0,3.65,BR,1583374940,NaN

In [9]:
# Clean dataset by dropping NaN
hotel_df_clean = hotel_df.dropna()
hotel_df_clean

Empty DataFrame
Columns: [City_ID, City, Lat, Lng, Max Temp, Humidity, Cloudiness, Wind Speed, Country, Date, Hotel Name]
Index: []

In [10]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in narrowed_city_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [12]:
# Add marker layer ontop of heat map
fig = gmaps.figure()
markers = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(markers)


# Display Map
fig

Figure(layout=FigureLayout(height='420px'))